@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

:root {
    --bg-page: #fafbfc;
    --text-main: #1a1b1c;
    --color-card: #ffffff;
    --color-card-hover: #f0f0f0;
    --color-border: #e0e0e0;
}

[data-theme="dark"] {
    --bg-page: #000000;
    --text-main: #fafbfc;
    --color-card: #1e1e1e;
    --color-card-hover: #2a2a2a;
    --color-border: #333333;
}

@theme {
    --color-bg-page: var(--bg-page);
    --color-text-main: var(--text-main);
    --color-card: var(--color-card);
    --color-card-hover: var(--color-card-hover);
    --color-border: var(--color-border);
    --color-primary: #7d5eff;
    --color-info: #5d9fff;
    --color-warning: #ffc843;
    --color-success: #4fd86b;
    --color-error: #ff6b6b;
}

html,
body,
#app {
    background-color: var(--bg-page);
    color: var(--text-main);
    min-height: 100vh;
    transition:
        background-color 0.3s ease,
        color 0.3s ease;
}
