@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

:root {
    --bg-page: #fafbfc;
    --text-main: #1a1b1c;
    --color-card: #ffffff;
    --color-card-hover: #f0f0f0;
    --color-border: #e0e0e0;
}

[data-theme="dark"] {
    --bg-page: #000000;
    --text-main: #fafbfc;
    --color-card: #1e1e1e;
    --color-card-hover: #2a2a2a;
    --color-border: #333333;
}

@theme {
    --color-page: var(--bg-page);
    --color-main: var(--text-main);
    --color-card: var(--color-card);
    --color-card-hover: var(--color-card-hover);
    --color-border: var(--color-border);
    --color-primary: #7d5eff;
    --color-info: #5d9fff;
    --color-warning: #ffc843;
    --color-success: #4fd86b;
    --color-error: #ff6b6b;
}

html,
body,
#app {
    background-color: var(--bg-page);
    color: var(--text-main);
    min-height: 100vh;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: var(--color-border);
    border-radius: 3px;
}

* {
    scrollbar-width: thin;
    scrollbar-color: var(--color-border) transparent;
}

::view-transition-new(root),
::view-transition-old(root) {
    animation: none;
    mix-blend-mode: normal;
}

::view-transition-old(root) {
    z-index: 1;
}

::view-transition-new(root) {
    z-index: 99;
}

[data-theme="dark"]::view-transition-old(root) {
    z-index: 99;
}

[data-theme="dark"]::view-transition-new(root) {
    z-index: 1;
}
